@charset "utf-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(223, 223, 223);
    margin: 0px;
}

header {
    background-color: rgb(255, 255, 255);
    margin: 10px;
    padding: 1px;
}

header > h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 1px;
    padding: 1px;
}

nav {
    background-color: grey;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.301);
    text-align: center;
    margin: 1px;
    padding: 1px;
}

nav > a {
    text-decoration: none;
    color: white;
    margin-right: 6px;
}

nav > a.home {
    text-align: left;
}

nav > a:hover {
    text-decoration: underline;
    background-color: rgb(240, 233, 144);
    color: rgb(0, 0, 0);
}

main {
    background-color: rgb(255, 255, 255);
    width: 900px;
    height: 500px;
    margin: auto;
    padding: 1px;
    text-align: center;
}

main section {
    text-align: center;
}

article {        
    padding: 5px;
    margin: auto;
}

article h2 {
    margin: 1px;
    text-align: center;
}

article > p {
    background-color: rgb(177, 177, 177);
}

p > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

p > a:hover {
    color: rgb(247, 247, 191);
    text-decoration: underline;
}

picture {
    margin: auto;
}

picture img {
    width: 50%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 4px;
}

footer > p {
    margin: 0px;
}

